section.contact {
    padding: 70px 0;
    @include flex($dir: column, $align: center);
    @include MQ(450px) {
        padding: 40px 0;
    }

    h3 {
        margin-bottom: 50px;
        color: $secondary-color;
        font-size: 25px;
        @include MQ(450px) {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    
    div.contact-me {
        width: 70%;
        @include flex($gap: 50px);
        @include MQ(1000px) {
            width: 90%;
        }
        @include MQ(700px) {
            width: 70%;
            flex-direction: column;
        }
        @include MQ(450px) {
            width: 90%;
            flex-direction: column;
        }

        form {
            width: 50%;
            border: 1px solid $secondary-color;
            padding: 30px;
            @include flex($dir: column, $align: center, $gap: 20px);
            @include MQ(700px) {
                width: 100%;
            }
            @include MQ(450px) {
                padding: 15px;
            }
    
            div.fields {
                width: 100%;
                @include flex($dir: column, $gap: 5px);
                
                label {
                    font-size: 16px;
                    color: $text-color;
                }
    
                input, textarea {
                    width: 100%;
                    background-color: transparent;
                    color: $text-color;
                    font-size: 17px;
                    padding: 5px;
                    border: 1px solid $secondary-color;
                    outline: none;
                }
    
                textarea {
                    height: 120px;
                    resize: none;
                }
    
                input[type=button] {
                    width: 30%;
                    background-color: $secondary-color;
                    padding: 10px;
                    align-self: flex-end;
                    cursor: pointer;
                }

                // @include MQ(450px) {
                    
                // }
            }
        }
    
        div.socials {
            width: 50%;
            @include flex($dir: column, $gap: 20px);
            @include MQ(700px) {
                width: 100%;
            }

            h4 {
                font-size: 25px;
                font-weight: lighter;
            }

            p {
                font-size: 15px;
            }

            @include MQ(450px) {
                h4 {
                    font-size: 20px;
                }
                p {
                    font-size: 12px;
                }
            }

            div.social-links {
                @include flex($dir: column, $gap: 15px);
                @include MQ(450px) {
                    gap: 8px;
                }
        
                a {
                    @include flex($dir: row-reverse, $align: center, $justify: center, $gap: 10px);
                    text-decoration: none;
        
                    i, p {
                        color: $secondary-color;
                        font-size: 25px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: light;
                    }

                    @include MQ(450px) {
                        i {
                            font-size: 20px;
                        }
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}